.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.map {
  width: 35%; }

.map__img {
  max-width: 792px;
  height: 100%; }

.contact-us {
  background: #2046b3;
  width: 100%; }

.contact-us-title {
  padding: 51px 0 18px 98px; }

.contact-us-title__title {
  display: inline-block;
  padding-bottom: 7px;
  border-bottom: 1px solid #c5c5c5;
  color: #fff;
  font-size: 1.875rem; }
  .contact-us-title__title::first-letter {
    color: #ffc600; }

.contact-us__form {
  padding-left: 76px;
  width: 66%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.contact-us__form__item {
  padding: 10px 0 10px 12px;
  margin-bottom: 18px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  font-size: 0.89rem;
  color: #fff; }
  .contact-us__form__item::-webkit-input-placeholder {
    color: #fff; }
  .contact-us__form__item:-ms-input-placeholder {
    color: #fff; }
  .contact-us__form__item::-ms-input-placeholder {
    color: #fff; }
  .contact-us__form__item::placeholder {
    color: #fff; }

.contact-us__form__item[name="text"] {
  resize: none;
  width: 100%;
  height: 76px; }

.contact-us__form__item[name="name"] {
  width: 100%; }

.contact-us__form__item[name="mobile"] {
  width: 40%;
  margin-right: 10%; }

.contact-us__form__item[name="email"] {
  width: 50%; }

.contact-us__form__submit {
  cursor: pointer;
  padding: 11px 33px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border: none;
  background: #ffc600; }
  .contact-us__form__submit:hover {
    background: #cea30e; }

.contact-us__address {
  padding: 280px 0 0 98px; }

.contact-us__address__table {
  color: #fff;
  font-size: 0.89rem;
  font-weight: bold;
  text-align: left; }
  .contact-us__address__table tr td {
    padding-bottom: 24px; }

.contact-us__address__table__title {
  padding-bottom: 35px;
  text-align: left; }

.contact-us__address__table__value {
  font-size: 0.67rem;
  font-weight: normal;
  padding-left: 27px; }

.contact-us__social {
  width: 58%;
  border-top: 2px solid #fff;
  margin-left: 76px; }

.contact-us__social__icons {
  padding: 8px 0 44px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 85px; }

@media screen and (max-width: 904px) {
  .contact-us__form__item[name="mobile"] {
    width: 100%;
    margin-right: 0; }

  .contact-us__form__item[name="email"] {
    width: 100%; }

  .contact-us__address {
    padding: 300px 0 0 98px; }

  .map {
    margin: 0 40px 0 -150px; } }
@media screen and (max-width: 832px) {
  .map {
    margin: 0 0 0 0; }

  .map {
    display: none; } }
@media screen and (max-width: 562px) {
  .contact-us__form {
    width: 90%; }

  .contact-us__form__submit {
    width: 50%; } }
@media screen and (max-width: 392px) {
  .contact-us__form {
    padding-left: 10px;
    width: 99%; }

  .contact-us__form__submit {
    width: 95%; } }

/*# sourceMappingURL=contacts.css.map */
