.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 73px 0 38px 0;
    background: url(../images/footer-bg.jpg) no-repeat center top/cover;
    background-size: 100% 100%;
}

.footer__left {
    width: 27%;
    background: #000;
}

.title {
    padding: 115px 0 52px 8.4%;

    font-size: 3.3em;
    color: #fff;
    &::first-letter {
        color: #ffc600;
    }
}

.footer__nav {
    padding: 0 0 25px 8.4%;
}

.footer__menu__item {
    padding-bottom: 22px;
}
.footer__menu__item__link {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    &:hover {
        color: #ffc600;
    }
}

.footer__menu__item__link_current {
    color: #ffc600;
}

.footer__left__social {
    width: 35.8%;
    border-top: 2px solid #ffc600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8.4%;
    padding-bottom: 45px;
}

.footer__left__social__icon {
    padding: 14px 4px 0 0;
}

.footer__title {
    font-size: 6.11rem;
    color: #fff;

    width: 60%;
    padding: 340px 0 0 3%;
}

.footer__title_yellow {
    color: #ffc600;
}

@media screen and (max-width: 904px) {
    .footer__left {
        width: 35%;
        background: #000;
    }
    .title {
        font-size: 2.8em;
        padding: 115px 0 36px 8.4%;
    }
    .footer__title {
        font-size: 4rem;
        color: #fff;
    
        width: 80%;
    }
    .footer__menu__item {
        padding-bottom: 16px;
    }
    .footer__left__social {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 502px) {
    .title {
        font-size: 2.2em;
        padding: 115px 0 30px 8.4%;
    }
    .footer__title {
        font-size: 3rem;
    }
    .footer__menu__item {
        padding-bottom: 14px;
        a {
            font-weight: 400;
        }
    }
    .footer__left__social {
        padding-bottom: 18px;
    }
}

@media screen and (max-width: 452px) {
    .footer__left {
        width: 60%;
    }
}

@media screen and (max-width: 418px) {
    .title {
        font-size: 1.8em;
        padding: 20px 0 20px 8%;
    }
    .footer__title {
        font-size: 2.4rem;
    }
    .footer__menu__item {
        padding-bottom: 12px;
    }
    .footer__left__social {
        padding-bottom: 10px;
    }
    .footer__title {
        font-size: 2.4rem;
        width: 100%;
        padding: 200px 0 0 3%;
    }
}

